.quiz-header {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.2));
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  right: 0;
  max-width: 550px;
  height: 56px;
  display: flex;
  align-items: center;
}
.head-col-center {
  flex-direction: column;
  flex: 1 1;
  grid-gap: 2px;
  gap: 2px;
}
.head-col-center,
.head-col-left,
.head-col-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-subtitle {
  font-size: 12px;
  display: flex;
}
.burger-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  background-color: initial;
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 99998;
}
.web-body-container {
  max-width: 550px;
  width: 100%;
  background: #0b091c;
  padding-bottom: 83px;
  min-height: 100vh;
}
.lqquizdetails {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
.quiz-banner {
  position: relative;
  width: 100%;
  height: 100%; /* Ensure the parent has height */
  overflow: hidden;
  display: flex; /* Helps align children within the container */
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Optional: Adds a background in case image doesn't fully fill the area */
}

.quiz-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Prevents cropping and maintains aspect ratio */
  display: block;
}

.img-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black; /* Customize the border style */
  pointer-events: none; /* Ensures the border does not block interaction with the image */
}
