/* App.css */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  /* font-family: SFProDisplay-Regular; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #0b091c;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  letter-spacing: 0.1px;
}

.App {
  padding-bottom: 80px; /* To prevent overlap with the footer */
}

.header {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.2));
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  right: 0;
  max-width: 550px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.default-header-placeholder {
  display: flex;
  width: 100%;
  height: 56px;
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.sv-logo {
  width: 82px;
  height: 43px;
  /* margin-left: -100px; */
}

.sv-logo svg {
  transform: rotate(0deg);
}
.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  grid-gap: 10px;
  gap: 10px;
}

.balance,
.points {
  margin: 0 10px;
}

.notification-icon {
  width: 24px;
}

.sv-logo .svg-bgpath.mega,
.sv-logo .svg-bgpath.mega {
  fill: #e70908;
}

.swiper-wrap .swiper-slide {
  border-radius: 8px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
  overflow: hidden;
  position: relative;
  justify-content: center;
  display: flex;
}
.swiper-wrap {
  margin: 10px 0 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: linear-gradient(
    -45deg,
    rgba(58, 82, 4, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  border-radius: 10px; */
}

.swiper-slide:before {
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(30px);
  content: "";
  width: 100%;
  height: 100%;
  background: url("https://fanizm-prod.s3.amazonaws.com/upload/banner/1726689398.webp");
}
.swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, transparent, #000);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
  opacity: 1;
}

.slider-backdrop {
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(30px);
}

.swiper-slide-active:after {
  opacity: 0;
}

.swiper-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.movie-section {
  padding: 0 15px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  color: white;
  h3 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 6px;
  }
}

.view-all {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.movie-grid {
  display: flex;
  overflow-x: auto;
  gap: 7px;
  padding-bottom: 14px;
}

.movie-card {
  flex: 0 0 auto;
  width: 97px;
  border-radius: 5px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  /* margin: 5px; */
}

.movie-image {
  width: 100%;
  height: 123px;
  object-fit: cover;
  position: relative;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.prize-tag {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #1b1b2f;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-item {
  text-align: center;
}

.footer-logo {
  width: 50px;
}

.default-app-footer {
  width: 100%;
  max-width: 550px;
  height: 78px;
  background: #0e2c50;
  box-shadow: 8px 8px 16px rgba(73, 71, 71, 0.5058823529411764);
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: flex;
  border-top: 1.5px solid #16447b;
}

.time-countdown {
  background-color: #0e2c50;
  padding: 3px;
  text-align: center;
  font-size: 9px;
  justify-content: center;
}
.timer {
  margin-left: 3px;
}
.winning {
  background-color: #e70908;
  padding: 2px;
  text-align: center;
  font-size: 9px;
}
.head-right-balance {
  display: flex;
  align-items: center;
  height: 22px;
  border: 1px solid hsla(0, 0%, 100%, 0.32);
  border-radius: 4px;
  white-space: nowrap;
  /* margin-right: 15px; */
  color: #fff;
  font-family: SFProDisplay-Bold;
  font-size: 12px;
  line-height: 1.2;
  padding: 0 5px;
  cursor: pointer;
}

.head-right-balance.points .points-icn {
  font-size: 10px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 3px;
}
.icon-qr svg {
  margin-top: 6px;
}

.default-header.padding-h-15 {
  padding: 0 15px;
}
.default-header {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.2));
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  right: 0;
  max-width: 550px;
  height: 56px;
  display: flex;
  align-items: center;
}
.head-right-balance.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.points-icn {
  margin-right: 8px;
}

.head-right-balance.points img {
  width: 12px;
  height: auto;
}

.default-app-footer {
  width: 100%;
  max-width: 550px;
  height: 78px;
  background: #0e2c50;
  box-shadow: 8px 8px 16px rgba(73, 71, 71, 0.5058823529411764);
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: flex;
  border-top: 1.5px solid #e70908;
}

.default-inner-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 17px;
  width: 100%;
  margin-top: auto;
}

.footer-quiz-modes {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.footer-quiz-modes .quiz-modes-handler {
  cursor: pointer;
  position: absolute;
  left: calc(50% - 31px);
  top: -36px;
  width: 62px;
  height: 62px;
  background: #0e2c50;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5px #16447b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.default-app-footer .quiz-modes-handler {
  box-shadow: 0 0 0 1.5px #e70908;
}

.footer-quiz-modes .quiz-modes-handler:before {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  right: -2px;
  height: 28px;
  background-color: #0e2c50;
}
a.quiz-modes-handler.highlighted-element:before {
  background-color: transparent;
}

.quiz-modes-handler svg {
  z-index: 9;
}

.footer-item {
  transition: all 0.2s ease-in;
  padding: 3px 7px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.default-inner-footer a {
  text-decoration: none;
  background-color: initial;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: text-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 30px;
}

.footer-label {
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  display: none;
}

.default-app-footer .footer-item.active {
  background: #e70908;
  gap: 4px;
  border-radius: 2rem;
  padding: 3px 7px;
}

.default-app-footer .footer-item.active .footer-label {
  display: inline-block;
}

.footer-logo {
  width: 50px;
  height: auto;
}

.Site-content {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}
.routing-550 {
  display: flex;
}
.web-body-container {
  max-width: 550px;
  width: 100%;
  background: #0b091c;
  padding-bottom: 83px;
  min-height: 100vh;
}
.movie-trophy-icon {
  margin-right: 4px;
}

/*Overlay scss

/* Overlay.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    181.07deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9) 13.06%,
    #000
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it is above other content */
  opacity: 0.95;
  max-width: 550px;
}
.overlay__wrap {
  max-width: 315px;
  margin: 10px auto;
  transform: translate(0);
  transition: transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: left;
}

.overlay__content {
  border-radius: 20px;
  max-height: calc(100vh - 80px);
  background-color: #0e2c50;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
}
.fade {
  transition: opacity 0.15s linear;
}

.overlay__header {
  font-size: 18px;
  /* font-family: SFProDisplay-Bold; */
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 60px 1.2rem 10px;
  border-bottom: none;
  border-radius: 40px 40px 0 0;
}

.overlay__header .close {
  background: transparent;
  color: #fff;
  top: -60px;
  font-size: 30px;
  outline: none;
  border: 0;
  /* font-family: Exo2-Regular; */
}
.overlay__header button.close {
  right: -10px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
.overlay__header .close {
  position: absolute;
  height: 27px;
  width: 27px;
  opacity: 1;
  border-radius: 100%;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  padding: 0 8.5px;
}

.overlay__header-img {
  background: #0e2c50;
  width: 120px;
  height: 120px;
  top: -50px;
  border-radius: 100%;
  padding: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay__header-img .wrap {
  border-radius: 100%;
  padding: 17px 15px 15px 23px;
  background: #e02020;
  width: 90px;
  height: 90px;
}
.overlay__header-img .wrap img {
  display: block;
  width: 56px;
  height: 54px;
}
.overlay__header-confirm {
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
}
.overlay__body {
  background: #0e2c50;
  border-radius: 0 0 16.5px 16.5px;
  text-align: center;
  padding: 0 30px;
  max-height: calc(100vh - 150px);
  overflow: visible;
}

.overlay__body .confirm-quiz-heading {
  text-align: left;
  margin-bottom: 15px;
}
.overlay__body .confirm-quiz-heading .quiz-name {
  color: #a2a2a2;
  /* font-family: SFProDisplay-Regular; */
  font-size: 14px;
  margin-bottom: 9px;
}
.overlay__body .confirm-quiz-heading .winning-amt {
  color: #fff;
  /* font-family: SFProDisplay-Regular; */
  font-size: 14px;
  font-weight: 500;
}
.overlay__body .confirm-quiz-heading .winning-amt span {
  margin-right: 5px;
}
.fee-container {
  width: 100%;
  margin: 0;
  display: -webkit-inline-box;
  font-size: 20px;
  /* font-family: SFProDisplay-Bold; */
  color: #333;
  line-height: 1.1;
  position: relative;
}
.fee-container .lable-text {
  font-size: 14px;
  /* font-family: SFProDisplay-Regular; */
  color: #a2a2a2;
  width: 65%;
  text-align: left;
}
.lable-text {
  opacity: 0.8;
  font-size: 14px;
  line-height: 18px;
}

.fee-container .payable-amount-value {
  width: 35%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}
.amount-subtext {
  font-size: 12px;
  color: #fff;
  /* font-family: SFProDisplay-Regular; */
  margin: 15px 0 30px;
  margin-bottom: 10px;
  text-align: left;
  width: 92%;
}
.amount-subtext a {
  color: #fff;
  text-decoration: none;
}

.overlay__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  padding-bottom: 35px;
  border-radius: 0 0 40px 40px;
  padding-top: 20px;
}
.joinContestConfirm.single-text {
  max-width: 240px;
  border-radius: 6px;
  padding: 12px 12px 11px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: #e02020;
  transition: 0.8s;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  animation: shadow-pulse-dark 1.5s infinite;
  animation-delay: 0.5s;
  cursor: pointer;
}

/**/
.quiz-modes-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5px;
  top: 0;
  background: linear-gradient(
    181.07deg,
    transparent,
    rgba(0, 0, 0, 0.51) 13.06%,
    #000
  );
}
.quiz-modes-backdrop:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -78px;
  height: 120px;
}
.quiz-modes-drawer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  cursor: default;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.quiz-modes-drawer.is--open {
  opacity: 1;
  pointer-events: all;
}

.quiz-modes-nav {
  position: relative;
  z-index: 1;
  width: 200px;
  margin: 0 auto 42px;
}
.qm-nav-item {
  display: flex;
  height: 40px;
  border: 2px solid #16447b;
  background-color: #0b091c;
  margin-top: 2px;
  align-items: center;
  color: #212121;
  transition: all 0.3s ease;
  cursor: pointer;
}
.qm-nav-item:first-child {
  margin-top: 0;
  border-radius: 10px 10px 0 0;
}
.qm-nav-item.mega {
  border-color: #e70908;
}

.qm-nav-item figure {
  width: 38px;
  height: 38px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.qm-nav-item * {
  cursor: pointer !important;
}
.qm-nav-item figure .svg-icon {
  width: 13.36px;
  height: 22.26px;
  border-radius: 0;
}
.qm-nav-item figure .svg-icon .svg-bgpath {
  fill: #16447b;
}
.qm-nav-item figure .svg-icon .svg-bgpath.mega {
  fill: #e70908;
}
.qm-nav-item .qmvi-content {
  flex: 1 1;
}
.qm-nav-item .qmvi-content .title {
  /* font-family: SFProDisplay-Bold; */
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #fff;
}
.qm-nav-item .qmvi-checked {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
.qm-nav-item .qmvi-checked:after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: initial;
}
.qm-nav-item.mega.selected .qmvi-checked:after {
  background-color: #e70908;
}
.qm-nav-item.h2h {
  border-color: #cc8e28;
}
.qm-nav-item figure .svg-icon .svg-bgpath.h2h {
  fill: #cc8e28;
}
.qm-nav-item.trivia {
  border-color: #1699d1;
}
.qm-nav-item:last-child {
  border-radius: 0 0 10px 10px;
}
.qm-nav-item figure .svg-icon .svg-bgpath.trivia {
  fill: #1699d1;
}
.qm-nav-item .qmvi-content {
  flex: 1 1;
}

/*common*/
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.overlay__header.close {
  border: 0;
  -webkit-appearance: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.mt20 {
  margin-top: 20px;
}
.mb-0,
.my-0 {
  margin-bottom: 0;
}
.p-0 {
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 200px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.no-gutters,
.row {
  margin-right: 0;
  margin-left: 0;
}

/* src/components/CustomTooltip.css */
.tippy-box[data-theme~="custom"] {
  background-color: #fff; /* Tooltip background */
  color: black; /* Tooltip text color */
  /* border: 2px solid black; Optional border */
  font-weight: bold;
  border-radius: 8px; /* Rounded corners */
  padding: 5px;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] .tippy-arrow {
  border-top-color: #e70908;
  color: #fff;
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"] .tippy-arrow {
  border-top-color: #e70908;
  color: #fff;
}

.tippy-arrow {
  color: #fff; /* Arrow color to match background */
}

/* src/components/HighlightedTooltip.css */

/* Overlay to block clicks on the rest of the page */
.footer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 0; /* Ensure it's on top */
}

/* Highlighted element styling */
.highlighted-element {
  position: relative;
  z-index: 0; /* Bring above the overlay */
  border: 2px solid #fff; /* white border */
  border-radius: 10px; /* Rounded corners */
  background-color: black; /* Black background */
  padding: 10px;
  cursor: pointer;
}

/* SVG styling */
.svg-icon {
  display: block;
  margin: 0 auto;
}

.movie-cards-container {
  position: relative; /* For positioning overlay */
  display: flex;
  flex-direction: column; /* Adjust as necessary for layout */
  gap: 20px; /* Space between cards */
}

.movie-card {
  border: 1px solid #ccc; /* Basic border */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Clip content */
  position: relative; /* For absolute positioning of child elements */
  transition: transform 0.2s ease; /* Smooth transition */
}

.highlighted {
  position: relative;
  border: 2px solid #ffffff; /* Highlight color */
  /* transform: scale(1.1); Slight scaling effect */
  z-index: 1000; /* Bring highlighted card above others */
  padding: 5px;
}

.movie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.quiz-overlay {
  position: fixed;
  top: -50%;
  left: 0;
  width: 100vw;
  height: 150%;
  background: rgba(0, 0, 0, 0.5);
}
/* z-index: 4; */
.amount-option {
  display: inline-block;
  width: calc(33.33333% - 6.66667px);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  color: #555;
  font-family: SFProDisplay-Bold;
  padding: 4px 4px 2px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 3px;
}

.burger-menu {
  background-color: #0b091c;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 375px;
  height: auto;
  box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease-out;
  display: flex;
  z-index: 99999;
}
.web-container.web-container-fixed {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 50px;
  margin-top: 0;
}
.web-body-container.pb0 .web-container {
  min-height: calc(100vh - 56px);
}
.web-container {
  max-width: 550px;
  min-height: 100vh;
  padding-bottom: 60px;
  width: 100%;
  background: #0b091c;
  overflow-y: auto;
}
.add-funds-header {
  padding: 0 30px;
}
.add-funds-header {
  z-index: 1;
  position: relative;
}
.add-funds-header .form-group.show-currency-icn {
  z-index: 1;
  border-bottom: 1px solid #4d4b59;
}
.add-funds-header .form-group {
  margin-bottom: 0;
  position: relative;
  top: 24px;
}
.position-relative {
  position: relative !important;
}
.add-funds-header label {
  color: #fff;
  font-size: 12px;
  /* font-family: SFProDisplay-Bold; */
  margin-bottom: 0;
}
.input-cls,
label {
  transition: all 0.2s;
  touch-action: manipulation;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.9385rem + 2px);
  padding: 0.813rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.add-funds-header .form-control {
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  /* font-family: SFProDisplay-Bold; */
  padding: 15px 20px;
  height: 50px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  box-shadow: none;
}
input {
  border-color: #eaeaea;
}
button,
input {
  overflow: visible;
}
.add-funds-header .form-control {
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  /* font-family: SFProDisplay-Bold; */
  padding: 15px 20px;
  height: 50px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  box-shadow: none !important;
}
.add-funds-header .form-group.show-currency-icn .form-control {
  padding-left: 20px;
}
.add-funds-header .form-group.show-currency-icn .form-control {
  padding-left: 20px;
}
.add-funds-header .forminput-currency {
  padding-left: 0;
  color: #fff;
}
.add-funds-header .form-group {
  margin-bottom: 0;
  position: relative;
  top: 24px;
}
.add-funds-header .form-group.show-currency-icn {
  z-index: 1;
  border-bottom: 1px solid #4d4b59;
}
.add-funds-body {
  padding: 50px 30px 30px;
}
.amount-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dpst-summary .dpst-heading {
  font-size: 12px;
  /* font-family: SFProDisplay-Bold; */
}
.dpst-summary .dpst-inner {
  padding: 15px 0 0;
}
.dpst-summary .dpst-amt {
  margin-bottom: 15px;
}
.dpst-summary .dpst-amt,
.dpst-summary .dpst-gst,
.dpst-summary .dpst-total {
  flex-direction: row;
  justify-content: space-between;
}
.d-flex {
  display: flex !important;
}
.dpst-summary .amt-txt {
  font-size: 12px;
  color: #fff;
}
.dpst-summary .amt-val {
  font-size: 12px;
  color: #f0f0f0;
}
.dpst-summary .dpst-total {
  border-top: 1px solid hsla(0, 0%, 100%, 0.32);
  margin-top: 15px;
  padding-top: 15px;
  font-family: SFProDisplay-Bold;
  color: #fff;
}
.dpst-total .inclusive-label {
  text-transform: capitalize;
}
.dpst-summary .dpst-total .tot-val {
  color: #fff;
  font-size: 14px;
}
.gst-number-view {
  margin-top: 25px;
  margin-bottom: 20px;
}
.gst-number-view .gst-checkbox-view {
  display: flex;
  align-items: center;
}
.gst-number-view .gst-checkbox-view .checkbox-view {
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none !important;
}
.gst-number-view .gst-checkbox-view .checkbox-view i {
  font-size: 8px;
  color: #fff !important;
  cursor: pointer;
}
.gst-number-view .gst-checkbox-view span {
  margin-left: 11px;
  font-size: 14px;
  color: #fff !important;
}
.icon-tick-ic:before {
  content: "\E985";
}
.gst-number-view .gst-input-view {
  margin-top: 10px;
}
.gst-number-view .gst-input-view .form-group {
  border-bottom: 1px solid #4d4b59;
}
.gst-number-view .gst-input-view .form-control {
  padding: 0.813rem 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: initial;
  font-family: SFProDisplay-Medium;
  box-shadow: none;
}
.gst-number-view .gst-checkbox-view .checkbox-view.checked {
  background-color: #e70908 !important;
}
.promo-code-section {
  text-align: left;
  margin: 15px 0;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  color: #000;
}
.add-funds-body .promo-code-section {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.add-funds-body .promo-code-section .apply-promocode {
  margin-bottom: 5px;
  font-weight: 400;
}
.promo-code-section .apply-promocode {
  margin-left: 0;
  text-align: left;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
.add-funds-body .promocode {
  position: relative;
}
.promo-code-section .promocode {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.add-funds-body .promocode .form-group {
  width: 100%;
}
.form-group {
  margin-bottom: 16px;
}
.add-funds-body .promocode .form-control {
  border: 1px solid hsla(0, 0%, 100%, 0.32);
  background-color: #0e2c50;
  border-radius: 12px;
  padding: 10px 80px 10px 15px;
  height: 50px;
  color: #fff;
}
.add-funds-body .promo-code-section .promocode .form-control {
  border: none;
  box-shadow: 0 0 0 1px #66779a;
  background: #12386b;
  min-height: 60px;
}
.add-funds-body .promocode .btn-apply {
  position: absolute;
  right: 14px;
  top: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.text-center {
  text-align: center !important;
}
.button.button-primary-rounded {
  padding: 12px 30px 11px;
  border-radius: 24px;
}
.add-funds-body .button-block {
  max-width: 315px;
  margin: 0 auto;
  background: #e70908;
  border-radius: 6px;
}
.button.button-block {
  display: block;
  width: 256px;
}
.forminput-currency {
  position: absolute;
  top: 46%;
  left: 0;
  font-size: 20px;
  color: #fff;
}

.head-title {
  font-size: 16px;
  white-space: nowrap;
  line-height: 1.2;
}
.payable-amt {
  padding: 10px;
  color: #fff;
  background: #12386b;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.payable-amt .payable-amt-view {
  margin-left: 2px;
}
.payable-amt i {
  font-size: 18px;
  position: relative;
}
.how-would-you-view {
  margin: 40px auto;
  color: #212121;
  font-size: 20px;
  text-align: center;
}
.payment-method-container {
  padding: 20px;
}
.payment-method-container .payment-card-row {
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  flex: 1 1;
  flex-flow: wrap;
  place-content: stretch flex-start;
  align-items: stretch;
}
.payment-method-container .payment-card {
  background: #fff;
  border-radius: 10px;
  width: calc(50% - 7.5px);
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  min-height: 182px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.payment-method-container .payment-card-cursor {
  pointer-events: none;
  position: relative;
}
.payment-method-container .payment-card .c-image {
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.payment-method-container .payment-card .c-image .img-fluid {
  width: 100%;
  max-width: 130px;
}
.payment-method-container .payment-content {
  padding: 15px 10px;
  background-color: #fafafa;
  border-radius: 0 0 10px 10px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-method-container .payment-content .payments-name {
  font-size: 14px;
  color: #333;
  text-transform: capitalize;
}
.payment-method-container .payment-content .payements-desc {
  color: #707070;
  font-size: 12px;
}
.payment-method-container .payment-content {
  padding: 15px 10px;
  background-color: #fafafa;
  border-radius: 0 0 10px 10px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-method-container .payment-card-cursor:after {
  content: "";
  background: hsla(0, 0%, 100%, 0.32)
    url(https://fanizm.com/app/static/media/spiner.5ee8137e.svg) no-repeat 50% !important;
  background-size: 25px !important;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.overlay__pyt-img img {
  width: 100%;
  border-radius: 7px;
}
.overlay__pyt-img {
  width: 100%;
  margin-top: 60px;
}
.overlay__wrap.overlay__wrap--pay {
  max-width: 400px;
}
.overlay__wrap.overlay__wrap--pay .overlay__content {
  background: transparent;
}
.overlay__wrap.overlay__wrap--pay .overlay__body {
  background: transparent;
}

.btn-add-cash {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.card-label {
  position: absolute;
  top: 0;
  background: #e70908;
  font-size: 8px;
  padding: 0 4px;
  margin: 5px 5px;
  border-radius: 2px;
}

/* Tabs.css */
.tabs {
  overflow: hidden;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.tab-item {
  padding: 1px 8px;
  cursor: pointer;
  background: #2e313a;
  transition: background 0.3s;
  border-radius: 6px;
  font-size: 12px;
}

.tab-item:hover {
  background: #e70908;
}

.tab-item.active {
  background: #e70908;
}

.tab-content {
  padding: 20px;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #0e2c50;
  color: white;
  padding: 3px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  /* width: 200px; */
}

.arrow {
  margin-left: 10px;
  transition: transform 0.2s ease;
  font-size: 8px;
}

.arrow.open {
  transform: rotate(180deg); /* Rotate when dropdown is open */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  /* left: 0; */
  right: 0;
  background-color: #2e313a;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 110px;
}

.dropdown-item {
  padding: 7px 8px;
  cursor: pointer;
  font-size: 12px;
}

.dropdown-item:hover {
  background-color: #e70908;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 16px;
}
.head-col-left-icon,
.head-col-right-icon {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.2);
  box-shadow: 0 10px 20px 0 rgba(255, 184, 73, 0.2);
  max-width: 30px;
}
.head-col-left-icon:empty,
.head-col-right-icon:empty {
  background-color: transparent;
}
.w-100 {
  width: 100%;
}
/* CSS */
.button-group {
  display: flex;
}

.button {
  background-color: #ff002e; /* Red color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Style for left button */
.button.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style for right button */
.button.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.separator {
  margin: 0 10px;
  color: #ff0033; /* Change color if needed */
  font-weight: bold; /* Make it bold if you like */
}
.quiz-lang-header {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  min-width: 300px;
  max-width: 510px;
  z-index: 1000;
  transition: transform 0.3s ease-out;
  justify-content: space-between;
  background: #ff002e;
  padding: 6px 0;
  border-radius: 8px;
}
.button.right {
  position: relative;
}
.quiz-lang-header .button.right:before {
  content: "";
  position: absolute;
  left: -50px;
  border-left: 1px solid #1a1919;
  top: -6px;
  bottom: 0;
  height: 50px;
}

/**Practice contest**/
.practice-contest__container {
  padding: 12px;
}
.practice-contest__container p {
  margin: 0;
}
.practice-contest__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.practice-contest__rank-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e2c50;
  border-radius: 8px;
  padding: 6px 16px;
}
.practice-contest__rhs {
  flex: 1;
}
.practice-contest__points {
  background: #e70908;
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
}
.practice-contest__points p {
  margin: 0;
}
.practice-contest__rank {
  text-align: center;
  position: relative;
}
.practice-contest__rank:before {
  content: "";
}
.practice-contest__label {
  display: flex;
  align-items: center;
  gap: 6px;
}
.practice-contest__points p,
.practice-contest__rank p {
  font-size: 10px;
}
.practice-contest__qus-number {
  margin-top: 28px;
}
.practice-contest__qus-number ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 10px;
}
.practice-contest__qus-number ul li {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
}
.practice-contest__qus-number ul li.correct {
  background: #61863b;
}

.correct {
  border: 2px solid #fff;
}
.practice-contest__qus-number ul li.wrong {
  background: #e70908;
  border-color: #e70908;
}
.practice-contest__qus-number ul li.current {
  background: transparent;
  border-color: #e70908;
}

.practice-contest__qus-heading {
  font-size: 24px;
  text-align: center;
  margin-top: 28px;
}

.practice-contest__qus-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 28px;
}
.practice-contest__qus-item {
  background: #092140;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}
.practice-contest__note {
  margin: 40px 0 10px;
  text-align: center;
}

.circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 28px auto;
}

/* svg {
  transform: rotate(-90deg);
} */

circle {
  fill: none;
  stroke-width: 2;
}

.background {
  stroke: #050505;
}

.progress {
  stroke: #393939; /* Change this color as needed */
  transition: stroke-dasharray 1s linear;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #e70908;
}

.correct {
  background-color: #61863b; /* Light green for correct answers */
  position: relative;
  z-index: 10;
  border: 2px solid #fff;
}

.wrong {
  background-color: #e70908; /* Light red for wrong answers */
}

.selected {
  border: 2px solid #fff; /* Light blue for selected items */
  position: relative;
  z-index: 10;
}

.container {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.header h2 {
  margin: 0;
  font-size: 18px;
  color: #ccc;
}

.header p {
  font-size: 14px;
  color: #888;
}

.kudos {
  margin-top: 50px;
}

.kudos-circle {
  background-color: #2a2a2a;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 365px;
  width: 365px;
}

.logo {
  width: 150px;
  height: 150px;
}

.kudos p {
  margin: 30px 0;
  font-size: 14px;
  color: #ccc;
}

.contests {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.contest-details {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 10px;
  width: 50%;
  background: #0e2c50;
}

.contest {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 5px 0;
  font-size: 14px;
  color: #ccc;
}

.contest:last-child {
  border-bottom: none;
}

.quiz-points {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.view-rules {
  text-decoration: none;
  color: #f00;
  font-weight: bold;
}

.total-points {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
}
.result-button {
  background-color: #f00;
  width: 50%;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  border-radius: 10px;
  padding: 8px;
  font-weight: 600;
}

.total-points span {
  font-weight: bold;
}
.contest-data span {
  display: block;
}
.kudos-1 span {
  width: 50%;
  padding: 20px 30px;
  border-radius: 10px;
  background: #707070;
  font-size: 30px;
  font-weight: 600;
}
