/* App.css */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin: 0;
    /* font-family: SFProDisplay-Regular; */
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: #0b091c;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    letter-spacing: .1px;
}

.App {
  padding-bottom: 80px; /* To prevent overlap with the footer */
}

.header {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, .2));
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    right: 0;
    max-width: 550px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.default-header-placeholder {
  display: flex;
  width: 100%;
  height: 56px;
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.sv-logo {
  width: 82px;
  height: 43px;
  /* margin-left: -100px; */
}

.sv-logo svg {
  transform: rotate(0deg);
}
.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  grid-gap: 10px;
  gap: 10px;
}

.balance,
.points {
  margin: 0 10px;
}

.notification-icon {
  width: 24px;
}

.sv-logo .svg-bgpath.mega, .sv-logo .svg-bgpath.mega {
  fill: #e70908;
}

.swiper-wrap .swiper-slide{
    border-radius: 8px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 1s;
    overflow: hidden;
    position: relative;

}
.swiper-wrap{
margin: 10px 0 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: linear-gradient(
    -45deg,
    rgba(58, 82, 4, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  border-radius: 10px; */
}

.swiper-slide:before{
display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(30px);
    content: "";
    width: 100%;
    height: 100%;
    background: url("https://fanizm-prod.s3.amazonaws.com/upload/banner/1726689398.webp");

}
.swiper-slide:after{
content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent, #000);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 1s;
    opacity: 1;
  }

.slider-backdrop{
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(30px);
  }

  .swiper-slide-active:after{
    opacity: 0;
  }

.swiper-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.movie-section {
  padding: 0 15px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  color: white;
  h3{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 6px;
  }
}

.view-all {
  color: red;
}

.movie-grid {
  display: flex;
  overflow-x: auto;
  gap: 7px;
  padding-bottom: 14px;
}

.movie-card {
  flex: 0 0 auto;
  width: 97px;
  border-radius: 5px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  /* margin: 5px; */
}

.movie-image {
  width: 100%;
    height: 123px;
    object-fit: cover;
    position: relative;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.prize-tag {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #1b1b2f;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-item {
  text-align: center;
}

.footer-logo {
  width: 50px;
}


.default-app-footer {
  width: 100%;
  max-width: 550px;
  height: 78px;
  background: #0e2c50;
  box-shadow: 8px 8px 16px rgba(73, 71, 71, 0.5058823529411764);
  position: fixed;
  bottom: 0;
  z-index: 3;
  display: flex;
  border-top: 1.5px solid #16447b;
}

.time-countdown {
  background-color: #0e2c50;
  padding: 3px;
  text-align: center;
  font-size: 9px;
  justify-content: center;
}
.timer {
  margin-left: 3px;
}
.winning {
  background-color: #e70908;
  padding: 2px;
  text-align: center;
  font-size: 9px;
}
.head-right-balance {
  display: flex;
  align-items: center;
  height: 22px;
  border: 1px solid hsla(0, 0%, 100%, 0.32);
  border-radius: 4px;
  white-space: nowrap;
  /* margin-right: 15px; */
  color: #fff;
  font-family: SFProDisplay-Bold;
  font-size: 12px;
  line-height: 1.2;
  padding: 0 5px;
  cursor: pointer;
}

.head-right-balance.points .points-icn {
  font-size: 10px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 3px;
}
.icon-qr:before {
  content: "\EA12";
}

.default-header.padding-h-15 {
  padding: 0 15px;
}
.default-header {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.2));
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  right: 0;
  max-width: 550px;
  height: 56px;
  display: flex;
  align-items: center;
}
.head-right-balance.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.points-icn {
  margin-right: 8px;
}

.head-right-balance.points img {
  width: 12px;
  height: auto;
}

.default-app-footer{
  width: 100%;
    max-width: 550px;
    height: 78px;
    background: #0e2c50;
    box-shadow: 8px 8px 16px rgba(73, 71, 71, .5058823529411764);
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    border-top: 1.5px solid #e70908;
}

.default-inner-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 17px;
  width: 100%;
  margin-top: auto;
}

.footer-quiz-modes {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.footer-quiz-modes .quiz-modes-handler {
  cursor: pointer;
  position: absolute;
  left: calc(50% - 31px);
  top: -36px;
  width: 62px;
  height: 62px;
  background: #0e2c50;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5px #16447b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.default-app-footer .quiz-modes-handler {
  box-shadow: 0 0 0 1.5px #e70908;
}
.footer-quiz-modes .quiz-modes-handler:before {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  right: -2px;
  height: 28px;
  background-color: #0e2c50;
}
.quiz-modes-handler svg{
  z-index: 9;
}

.footer-item {
  transition: all .2s ease-in;
    padding: 3px 7px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

.default-inner-footer a{
    text-decoration: none;
    background-color: initial;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: text-bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

.footer-label {
  color: #fff;
    font-size: 12px;
    white-space: nowrap;
    display: none;
}

.default-app-footer .footer-item.active {
  background: #e70908;
  gap: 4px;
  border-radius: 2rem;
  padding: 3px 7px;
}

.default-app-footer .footer-item.active .footer-label{
  display: inline-block;
}



.footer-logo {
  width: 50px;
  height: auto;
}




.Site-content {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}
.routing-550{
  display: flex ;
}
.web-body-container {
  max-width: 550px;
  width: 100%;
  background: #0b091c;
  padding-bottom: 83px;
  min-height: 100vh;
}
.movie-trophy-icon{
margin-right: 4px;
}

/*Overlay scss

/* Overlay.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(181.07deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) 13.06%, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it is above other content */
  opacity: .95;
  max-width: 550px;
}
.overlay__wrap{
  max-width: 315px;
  margin: 10px auto;
  transform: translate(0);
  transition: transform .3s ease-out;
  display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}

.overlay__content {
  border-radius: 20px;
  max-height: calc(100vh - 80px);
  background-color: #0e2c50;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
}
.fade {
  transition: opacity .15s linear;
}

.overlay__header{
  font-size: 18px;
    /* font-family: SFProDisplay-Bold; */
    color: #212121;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 60px 1.2rem 10px;
    border-bottom: none;
    border-radius: 40px 40px 0 0;
}

.overlay__header .close {
  background: transparent;
  color: #fff;
  top: -60px;
  font-size: 30px;
  outline: none;
    border: 0;
  /* font-family: Exo2-Regular; */
}
.overlay__header button.close {
  right: -10px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
}
.overlay__header .close {
  position: absolute;
  height: 27px;
  width: 27px;
  opacity: 1;
  border-radius: 100%;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  padding: 0 8.5px;
}

.overlay__header-img {
  background: #0e2c50;
  width: 120px;
  height: 120px;
  top: -50px;
  border-radius: 100%;
  padding: 13px;
  position: absolute;
  left: 50%;
    transform: translateX(-50%);
}

.overlay__header-img .wrap {
  border-radius: 100%;
  padding: 17px 15px 15px 23px;
  background: #e02020;
  width: 90px;
  height: 90px;
}
.overlay__header-img .wrap img{
  display: block;
  width: 56px;
  height: 54px;
}
.overlay__header-confirm {
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
    line-height: 25px;
    text-align: center;
}
.overlay__body {
  background: #0e2c50;
  border-radius: 0 0 16.5px 16.5px;
  text-align: center;
  padding: 0 30px;
  max-height: calc(100vh - 150px);
  overflow: visible;
}

.overlay__body .confirm-quiz-heading {
  text-align: left;
  margin-bottom: 15px;
}
.overlay__body .confirm-quiz-heading .quiz-name{
  color: #a2a2a2;
  /* font-family: SFProDisplay-Regular; */
  font-size: 14px;
  margin-bottom: 9px;
}
.overlay__body .confirm-quiz-heading .winning-amt {
  color: #fff;
  /* font-family: SFProDisplay-Regular; */
  font-size: 14px;
  font-weight: 500;
}
.overlay__body .confirm-quiz-heading .winning-amt span {
  margin-right: 5px;
}
 .fee-container {
  width: 100%;
  margin: 0;
  display: -webkit-inline-box;
    font-size: 20px;
    /* font-family: SFProDisplay-Bold; */
    color: #333;
    line-height: 1.1;
    position: relative;
}
.fee-container .lable-text {
  font-size: 14px;
  /* font-family: SFProDisplay-Regular; */
  color: #a2a2a2;
  width: 65%;
  text-align: left;
}
.lable-text {
  opacity: .8;
  font-size: 14px;
  line-height: 18px;
}

.fee-container .payable-amount-value {
  width: 35%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
    line-height: 18px;
    text-align: right;
}
 .amount-subtext {
  font-size: 12px;
    color: #fff;
    /* font-family: SFProDisplay-Regular; */
    margin: 15px 0 30px;
  margin-bottom: 10px;
  text-align: left;
  width: 92%;
}
.amount-subtext a {
    color: #fff;
    text-decoration: none;
}

.overlay__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 ;
  padding-bottom: 35px;
    border-radius: 0 0 40px 40px;
    padding-top: 20px;
  
}
 .joinContestConfirm.single-text {
  max-width: 240px;
  border-radius: 6px;
  padding: 12px 12px 11px;
  width: 100%;
    text-align: center;
  margin: 0 auto;
  background: #e02020;
  transition: .8s;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .05);
    animation: shadow-pulse-dark 1.5s infinite;
    animation-delay: .5s;
    cursor: pointer;
}




.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.overlay__header.close {
  border: 0;
  -webkit-appearance: none;
}





.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.mt20 {
  margin-top: 20px;
}
.mb-0, .my-0 {
  margin-bottom: 0;
}
.p-0 {
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 200px) {
  .col-xs-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
.no-gutters, .row {
  margin-right: 0;
  margin-left: 0;
}
